@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400');

html {
  font-family: sans-serif;
  background:#1B1B1D;
}

.list {
  max-width:400px;
  margin:50px auto;
  background:white;
  border-radius:5px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
}

#header-1 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#header-1 #title {
  margin: 20px 20px 0 20px;
}

#header-1 #todo-count {
  margin: 20px 20px 0 20px;
}

#header-2 {
  display: flex;
  justify-content: flex-end;
}

#edit {
  margin: 5px 20px;
}

.item {
  display:flex;
  align-items:center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom:0;
}


input:checked + p {
  background:#F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"], .new-icon {
  margin:20px;
}

.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new #new-todo {
  border: none;
  margin: 20px;
  font-size: 20px;
  width: 250px;
}

.new #add-todo {
  font-size: 20px;
  margin: 20px;
}


p {
  margin:0;
  padding:20px;
  transition:background 0.2s;
  flex:1;
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-left: 1px solid #D1E2FF;
}
